# Shared Network / Port Settings
WEB_PORT=8000
DB_PORT=5432
NGINX_PORT=8080
HTTP_PORT=80
HTTPS_PORT=443

# Domains
LOCAL_DOMAIN=localhost
PROD_DOMAIN=football-labo.com

# Staging Environment specific settings
STG_NGINX_PORT=80
STG_RECEPTION_IP=127.0.0.1
STG_POSTGRES_USER=db_stg
STG_POSTGRES_PASSWORD=your_stg_password
STG_POSTGRES_DB=fl_dev_db

# Production Environment specific settings
PROD_POSTGRES_USER=db_prod
PROD_POSTGRES_PASSWORD=your_prod_password
PROD_POSTGRES_DB=fl_prod_db
