{% extends "base.html" %}

{% block title %}マイページ | {{ block.super }}{% endblock %}

{% block navbar %}
  {% include "base/player_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      {% include "user/snippets/user_detail_area.html" %}
      {% include "user/snippets/user_comment_list_buttons.html" %}
      {% for nationalcommentlikeipaddress in object_list %}
        <div class="card my-4">
          <div class="card-body">
            <a href="{% url 'soccer:national_detail' nationalcommentlikeipaddress.national_comment.country.slug %}"><p>{{ nationalcommentlikeipaddress.national_comment.country.flag|safe }} <strong>{{ nationalcommentlikeipaddress.country.name }}代表</a>｜<i class="fas fa-star"></i> 総合評価：{{ nationalcommentlikeipaddress.national_comment.ovr }}/7｜<i class="fas fa-thumbs-up"></i> {{ nationalcommentlikeipaddress.national_comment.like }}いいね</strong></p>
            <p>投稿者：{% if nationalcommentlikeipaddress.national_comment.user %}{{ nationalcommentlikeipaddress.national_comment.user.nickname }}{% else %}{{ nationalcommentlikeipaddress.national_comment.author }}{% endif %}（投稿日：{{ nationalcommentlikeipaddress.national_comment.timestamp }}）</p>
            <p>{{ nationalcommentlikeipaddress.national_comment.text|linebreaksbr|truncatechars_html:50 }}</p>
            <a href="{% url 'soccer:national_detail' nationalcommentlikeipaddress.national_comment.country.slug %}" class="btn btn-primary"><i class="fas fa-search"></i> 代表チームをチェック</a>
          </div>
        </div>
      {% empty %}
        <div class="text-center my-4">
          <i class="fas fa-comment-slash"></i> まだいいねした投稿はありません。<br>
        </div>
      {% endfor %}
      {% include "soccer/snippets/pagination.html" %}
    </main>
    <aside class="col-md-4">
      {% include "soccer/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
